<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CodedHomesDEV" connectionString="data source=localhost\sqlexpress;initial catalog=CodedHomesDEV;Trusted_Connection=True;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="ConnectionStringName" value="CodedHomesDEV"/>
  </appSettings>
</configuration>